//$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
//@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
// bower: scss
//@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$pad: 20px;
@import url('https://fonts.googleapis.com/css?family=Lato:100');
@mixin btn {
    -moz-box-shadow: 1px 1px 0px 0px #808080;
    -webkit-box-shadow: 1px 1px 0px 0px #808080;
    box-shadow: 1px 1px 0px 0px #808080;
    // background-color: transparent;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    height: 30px;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #757575;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(204, 125, 39, 0);
    @include transition(background-color, .5s);
        &:hover {
            background-color: rgba(204, 125, 39, 1);
        }
}
@mixin transition($transition-property, $transition-time) {
    -webkit-transition: $transition-property $transition-time ease-in-out;
    -moz-transition: $transition-property $transition-time ease-in-out;
    -ms-transition: $transition-property $transition-time ease-in-out;
    -o-transition: $transition-property $transition-time ease-in-out;
    transition: $transition-property $transition-time ease-in-out;
}
@mixin notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
@mixin grayshadow {
    text-shadow: 1px 1px grey;
    color: white;
}
@mixin border {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
@mixin background {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Space out content a bit */
html, body {
    //padding-top: 20px;
    //padding-bottom: 20px;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Lato';
    background-color: gray;
    color: white;
    /* background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 5px, rgba(255, 255, 255, .5) 5px);
    */
}
a {
    color: rgb(178, 167, 167);
    text-decoration: none;
    &:hover, &:focus {
        color: rgb(178, 167, 167);
        text-decoration: underline;
    }
}
.container {
    width: 100%;
    height: 100%;
}
.title {
    font-size: 200px;
    @include grayshadow;
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 10px;
}
.instagrams {
    width: 100%;
    height: 100%;
    @include background;
    position: absolute;
    //text-transform: uppercase;
    .subtitle {
        font-size: 10px;
        @include grayshadow;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: 10px;
        background-color: rgba(168, 185, 159, .34);
    }
    .option {
        font-size: 50px;
        color: white;
        cursor: pointer;
        //font-weight: bolder;
        @include border;
        @include grayshadow;
        padding-left: 10px;
        //background-color: rgba(168, 185, 159, 0);
        background-color: rgba(204, 125, 39, 0);
        @include transition(background-color, .5s);
        &:hover {
           // background-color: rgba(168, 185, 159, 1);
            background-color: rgba(204, 125, 39, 1);
        }
    }
    .category_option {
        font-size: 50px;
        overflow: hidden;
        color: white;
        cursor: pointer;
        //font-weight: bolder;
        @include border;
        @include grayshadow;
        padding-left: 10px;
        background-color: rgba(92, 80, 68, 0);
        width: 14%;
        @include transition(width, .75s);
        //@include transition(background-color, 1s);
        &:hover {
            background-color: rgba(92, 80, 68, 1);
            width: 100%;
        }
    }
    .options {
        width: 50%;
        margin-left: 10px;
        position: absolute;
        z-index: 999;
    }
    @include transition(top, 1s);
}
.selected {
    top: 0px;
    z-index: 999;
}
.notselected {
    top: 100%;
}
.wasselected {
    top: -100%;
}
.wasselectednotrans {
    top: -100%;
    @include notransition();
}
.notselectednotrans {
    top: 100%;
    @include notransition();
}
.slidecontent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}
.showallslides {
    margin: 10px;
    width: 100%;
    height: 100%;
}
.showallslide {
    margin: 10px;
}
.slidesubcontent {
    //padding: 10px;
    @include border;
    @include grayshadow;
    //padding-left: 10px;
    position: absolute;
    width: 64%;
    height: 60%;
    top: 20%;
    background-color: rgba(92, 80, 68, .65);
    //@include transition(left, 1s);
    .slidecopy {
        font-size: 16px;
        width: 100%;
        position: absolute;
        padding-right: 30px;
    }
    .slidecopysmall {
        font-size: 12px;
        font-weight: bold;
        //width: 50%;
        //position: absolute;
        //padding-right: 30px;
    }
    .slidebtn {
        @include btn;
        position: relative;
        top: 10px;
        
    }
    .slidebtnresume {
        right: 10px;
        position: absolute;
         @include btn;
         bottom: 10px;
    }
    .slidetitle {
        font-size: 36px;
        text-transform: uppercase;
        width: 100%;
        padding-right: 10px;
        line-height: 100%
    }
    .largeslidetitle {
        font-size: 60px;
        text-transform: uppercase;
        width: 100%;
        padding-right: 10px;
        line-height: 100%
    }
    .slide_img {
        right: 0px;
        width: 100%;
    }
    .slide_img_holder {
        max-height: 75%;
        overflow: hidden;
        @include border;
        @include grayshadow;
    }
    .slideright {
        position: absolute;
        right: 0px;
        padding: 10px;
        top: 0px;
        width: 50%;
        height: 100%;
    }
    .slideleft {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;
        padding: 10px;
    }
    .slidefull {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 10px;
    }
}
.showAllThumb {
    @include border;
    @include grayshadow;
    @include background;
    //padding-left: 10px;
    //width: 100px;
    //height: 100px;
    background-color: rgba(92, 80, 68, .65);
    cursor: pointer;
    opacity: .6;
    //@include transition(left, 1s);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    @include transition(opacity, .5s);
    &:hover {
        opacity: 1;
    }
}
.subselected {
    left: 18%;
    z-index: 999;
    @include transition(left, 1s);
}
.subnotselectednext {
    left: 118%;
    @include transition(left, 1s);
}
.subnotselectedprev {
    left: -82%;
    @include transition(left, 1s);
}
.subnotselectednextnotrans {
    left: 118%;
    @include notransition();
}
.subnotselectedprevnotrans {
    left: -82%;
    @include notransition();
}
.slidenav {
    top: 50%;
    position: absolute;
    width: 100%;
    cursor: pointer;
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid white;
        left: 83%;
        position: absolute;
    }
    .arrow-left {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid white;
        left: 16%;
        position: absolute;
    }
}
.arrow_box {
    position: absolute;
    background: #000000;
    border: 1px solid #f5f5f5;
    top: 0px;
    opacity: 0;
    color: white;
    padding: 10px
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 14px;
    margin-left: -14px;
}
.arrow_box:before {
    border-color: rgba(245, 245, 245, 0);
    border-top-color: #f5f5f5;
    border-width: 15px;
    margin-left: -15px;
}
.main_offstage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: -100%;
    @include transition(left, .75s);
}
.main_onstage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0%;
    @include transition(left, .75s);
}
#showall {
    //@include backgroundz
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.genericbtn {
    @include btn;
    position: absolute;
    top: 0px;
    z-index: 99999;
    right: 0px;
    margin: 10px;
    
}
.socialhero {
    position: absolute;
    width: 45%;
    left: 50%;
    margin-left: 20px;
    margin-right: 60px;
    height: 140px;
    overflow: hidden;
}

.links {
width: 200%;
left: 0%;
margin-left: 0px;
margin-right: 60px;
height: 140px;
margin-top:10px;

}

.link {
    @include border;
    @include grayshadow;
    @include background;
    //padding-left: 10px;
    //width: 100px;
    //height: 100px;
    background-color: rgba(92, 80, 68, .65);
    cursor: pointer;
    opacity: .6;
    //@include transition(left, 1s);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    @include transition(opacity, .5s);
    &:hover {
        opacity: 1;
    }

}


.social_title {
    font-size: 20px;
    @include grayshadow;
    @include border;
    background-color: rgba(204, 125, 39, 1);
    padding-left:10px;
    margin-bottom: 5px;
    height: 25px;
}
.fbpost {
    @include border;
    background-color: rgb(86, 86, 90);
    @include transition(left, .5s);
    position: absolute;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    height: 110px;
    width: 100%;
    &:hover {
        background-color: #553513;
    }
    .timeago {
        font-size:9px;
        position: absolute;
        margin-right: 10px;
        bottom: 0px;
        margin-bottom: 10px;
        right:0px;
    }
}
.selectedfb {
    left: 0px;
}
.notselectedfb {
    left: 150%;
}
#linksarrow {
    z-index:999999;
}



/* .col-1-8 {
    width: 12.5%;
}
.grid {
    background: white;
    margin: 0 0 $pad 0;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.grid-pad {
    padding: $pad 0 $pad $pad;
    [class*='col-']:last-of-type {
        padding-right: $pad;
    }
}
.module {
    padding: $pad;
    background: #eee;
}
*/