



<div class="main">
  <div ng-repeat="slide in posts" id="{{slide.id}}" ng-mouseover="showSlide()" ng-class="setSlideClass($index)">

    <div ng-init="addSlide()" class="slidefull" ng-if="category=='resume'" >
    <div class="slidecopysmall" ng-bind-html="slide.type+':'"></div>
      <div class="slidetitle" data-fittext="1" data-fittext-min="20" data-fittext-max="80" ng-bind-html="slide.title">
      </div>
       <div class="slidecopy" ng-bind-html="'<br/>'+slide.longdesc+'<br/><br/><div class=slidecopysmall>'+slide.desc+'</div>'"></div>
            <div class='slidebtnresume' ng-if="slide.url" ng-click="navigateToURL(slide.url)">MORE INFO</div>
    
    </div>

    <div ng-init="addSlide()" class="slideleft" ng-if="category!='resume'" >
      <div class="slidetitle" data-fittext="1" data-fittext-min="10" data-fittext-max="50" ng-bind-html="slide.title">
      </div>
      <div class="slidecopy">{{slide.longdesc}}<br><br>
        <div class="slidecopysmall">{{slide.desc}}</div>
      </div>
    </div>


    <div class="slideright" ng-if="category!='resume'">
      <div class="slide_img_holder"><img class="slide_img" ng-src="{{photodata[slide.id][250]}}"></div>
      <div class='slidebtn' ng-if="slide.url && category=='work'" ng-click="navigateToURL(slide.url)">GO TO SITE</div>
        <div class='slidebtn' ng-if="slide.url && category=='resume'" ng-click="navigateToURL(slide.url)">SEE GOOGLE DOC</div>
        <div class='slidebtn' ng-if="slide.url && category=='photos'" ng-click="navigateToURL(slide.url)">VIEW PHOTO</div>
        <div class='slidebtn' ng-if="slide.url && category=='videos'" ng-click="navigateToURL(slide.url)">SEE VIDEO</div>
        <div class='slidebtn' ng-if="slide.url && category=='experiments'" ng-click="navigateToURL(slide.url)">CHECK IT OUT</div>
         <div class='slidebtn' ng-if="slide.url && category=='resume'" ng-click="navigateToURL(slide.url)">WEBSITE</div>
    </div>


  </div>
  <div class="slidenav">
    <!--div class="arrow-left" ng-click="subContentNav(-1)"></div-->
    <div class="arrow-right" ng-click="subContentNav(1)"></div>
  </div>

</div>


