<div class="main">
	<div class="social_title" data-fittext="1" data-fittext-min="10" data-fittext-max="15">WHAT'S NEW on FACEBOOK:</div>
	<div ng-repeat="post in facebookdata" ng-click="nextFB()" id="{{post.id}}" class="fbpost" ng-bind-html="formatMessage(post)" ng-class="setFBClass($index)">
	</div>  
</div>

