


<!-- ng-mouseout="mouseOutOption(subcat.catid)"-->


<div id="main" ng-class="showAllControl('main')">

    <div ng-repeat="category in categories" id="{{category.catid}}" ng-style="{'background-image':'url({{instagramdata[$index].images.standard_resolution.url}})'}" ng-class="setSlideClass(category.catid)">
      <div class="subtitle" ng-if="category.catid!='home'" data-fittext="4" data-fittext-min="10" data-fittext-max="40">MICHAELSMOSLEY.com</div> 
        <div class="title" ng-if="category.catid!='home'" data-fittext="1" data-fittext-min="50" data-fittext-max="115">{{category.cattitle}}</div> 
         <div class="genericbtn" ng-if="category.catid!='home'" ng-click="showSection('showall')">show all {{category.cattitle}}</div>
        <div class="title" ng-if="category.catid=='home'" data-fittext="1" data-fittext-min="50" data-fittext-max="115">MICHAELSMOSLEY</div> 
        
        <div class="slidecontent" ng-if="category.catid!='home'" ui-view="{{category.catid}}"><!--put slide content here--></div>
        <div class="socialhero" ng-if="category.catid=='home'" ui-view="facebook"></div>



        <div ng-init="addSlide()" class="options">
          <div ng-class="setOptionsClass(category.catid)" data-fittext="1" data-fittext-min="18" data-fittext-max="48" ng-repeat="subcat in categories" ng-if="subcat.catid != category.catid" ng-click="getCategory(subcat.catid)" ng-mouseover="mouseOverOption(subcat.catid)">
            <span ng-switch="checkCategoryandMouseOver(category.catid,subcat.catid)">
              <span ng-switch-when="true">{{subcat.cattitle}}</span>
              <span ng-switch-default>{{subcat.cattitle | firstCharacter}}</span>
            </span>
        </div>
        <div class="links" ui-view="links" ng-if="category.catid=='home'"></div>
      </div>

      
    </div>
   
</div>

<div id="showall" ng-class="showAllControl('showall')" ng-if="totalCats>0" ng-style="{'background-image':'url({{instagramdata[totalCats].images.standard_resolution.url}})'}">
 <div class='genericbtn' ng-click="showSection('main')">CLOSE</div>
  <div ui-view="showall"></div>
</div>


<div id="linksarrow" class="arrow_box">copy describing this</div>


<!--div class="post row" ng-repeat="post in categoriesnew">

     <div class="info">
        {{ post.catid }}

      </div>
      <div>
        {{ post.cattitle }}
        </div>
    </div>

 
  </div-->
<!--form class="navbar-form navbar-left" ng-submit="submitPost()" style='position:absolute;top:4050px;'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="category" ng-model="post.category">
      </div>
      <div class="form-group">
      <input type="text" class="form-control" placeholder="title" ng-model="post.title">
      </div>
            <div class="form-group">
      <input type="text" class="form-control" placeholder="img" ng-model="post.img">
      </div>
            <div class="form-group">
      <input type="text" class="form-control" placeholder="url" ng-model="post.url">
      </div>
            <div class="form-group">
      <input type="text" class="form-control" placeholder="desc" ng-model="post.desc">
      </div>
            <div class="form-group">
      <input type="text" class="form-control" placeholder="longdesc" ng-model="post.longdesc">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form-->


<!--div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">michaelsmosley com</h3>
</div-->

<!--div class="jumbotron">
  <h1>instagram</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    <ul>

        <li ng-repeat="thing in awesomeThings">{{thing}}</li>
    </ul>
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div-->
