 <div>
 <div ng-repeat="link in linkslist">
 	<div class="col-1-10">
			       <div ng-init="addSlide()" ng-mouseout="hideInfo()" ng-mousemove="showInfo($event,$index)" ng-click="openLink($index)" class="link" ng-style="{'background-image':'url(images/icons/{{linkslist[$index].id}}.png)'}">
	</div>
</div>
</div>

