


<form class="navbar-form navbar-left" ng-submit="submitPost()" style='position:relative;'>

<div class="form-group">
        <input type="text" class="form-control" placeholder="id" ng-model="post.id">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="category" ng-model="post.category">
      </div>
      <div class="form-group">
      <input type="text" class="form-control" placeholder="title" ng-model="post.title">
      </div>
            <div class="form-group">
      <input type="text" class="form-control" placeholder="img" ng-model="post.img">
      </div>
            <div class="form-group">
      <input type="text" class="form-control" placeholder="url" ng-model="post.url">
      </div>
            <div class="form-group">
      <input type="text" class="form-control" placeholder="desc" ng-model="post.desc">
      </div>
      <div class="form-group">
      <input type="text" class="form-control" placeholder="responsibilities" ng-model="post.responsibility">
      </div>
            <div class="form-group">
      <input type="text" class="form-control" placeholder="longdesc" ng-model="post.longdesc">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

