<div class="main">

 <div class="title" ng-if="category.catid!='home'" data-fittext="1" data-fittext-min="50" data-fittext-max="115">all {{currentpage}} ({{totalPosts}})</div> 
 	<div class="showallslides">

			<div class="grid grid-pad">
			  	<div ng-repeat="slide in posts" id="{{slide.title}}" class="showallslide">
			      <!--div ng-click="selectSlide($index)" ng-init="addSlide()" class="showAllThumb">{{slide.title}} {{slide.id}} {{slide.img}} {{$index}}
			      </div--> <div class="col-1-9">
			       <div ng-init="addSlide()" ng-mouseout="hideInfo()" ng-mousemove="showInfo($event,slide)" ng-click="selectSlide($index)" class="showAllThumb" ng-style="{'background-image':'url({{tumblrdata[slide.id][250]}})'}">
			       </div>
			      <!--img class="showAllThumb" ng-src="{{tumblrdata[slide.id][100]}}" /-->
			      </div>
				</div>  
			</div>

			<div id="showarrow" class="arrow_box">copy describing this</div>


	</div>
</div>
